$colorTitulo: red;

h1{
    color: $colorTitulo;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-image: url("../img/Gaming-Cloud.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 0.5rem;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

form {
    border: 0.2rem solid black;
    padding: 1rem;
    border-radius: 3rem;
    background-color: lightsteelblue;
    opacity: 95%;
}

label,
fieldset {
    display: block;
    font-weight: 700;
}

input {
    border: 1px solid midnightblue;
    padding: 0.5rem;
    margin: 1rem;
}

fieldset {
    display: flex;
}

button {
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(255, 228, 181, 0.959);
    border-radius: 1rem;
    border: 0.1rem solid white;
    font-weight: 700;
    text-transform: uppercase;
}

.center {
    width: 18rem;
    margin: 1rem auto;
}